<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
    <script src="https://kit.fontawesome.com/c6706ae0ec.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
<style>
  th .head {
  color:#0EF6CC ;
}
footer{
  font-size: 18px;
  font-style: italic;
  color: #666;
  text-align: center;
  padding-bottom: 30px;
}
.category{
  text-align: center;
  color: rgb(14, 170, 197);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  margin: 20px;
}
.txt {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(234, 18, 18);
  font-size: 28px;
}

.call-symbol:before {
      content: '\260E'; /* Unicode for telephone symbol */
}
.contact-details i.fa-envelope {
  color: red;
}
.contact-details a {
  color: black;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
}
.btn_verify{
  margin-left: 1300px;
  align-items: center;
  /* margin-top: 50px; */
}
.verification-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 15px;
}
.verification-text {
  margin-top: 5px;
  font-size: 15px;
}

</style>
  <body>
    {% if verification_error %}
<script>
  function showAlert(){
alert("please verify your account to order items")
  }
  </script>
{% endif %}


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        {% if not verification_error %}
        <div class="verification-badge">
          <img src="/static/badge.png" alt="Verification Badge" style="width: 35px; height: 35px;">
          <div class="verification-text">Verified</div>
        </div>
        {% endif %}
      
        <a class="navbar-brand" href="/dashboard/{{id}}/">Menu Items</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard/{{id}}/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orderhistory/{{id}}/">View Order Details</a>
            </li>
          </ul>
          <div class="contact-details ">
            <p style="margin-right: 140px; margin-top: 17px;">
              <i class="fa fa-envelope"></i>
              <a href="mailto:romanhmgn6999@gmail.com">romanhmgn6999@gmail.com</a>
            </p>
          </div>
          
        
          <form class="d-flex" role="search" method="GET">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
          <a href="/logout/" class="btn btn-outline-danger m-lg-2">Logout</a>
        </div>
      </div>
    </nav>
    
    {% if verification_error %}
    <div class="alert alert-danger d-flex justify-content-between align-items-center">
        <div>{{ verification_error }}</div>
        <form method="post">
          {% csrf_token %}
        <button type="submit" name="action" value="verify" class="btn btn-primary">Verify</button>
        </form>
    </div>
{% endif %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome !!</strong> {{username}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {% if verification_error %}
  {% if messages %}
  {% for message in messages %} 
  {% if message.tags == 'success' %} 
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Congratulation !!</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endif %}


   <div class="container">
    <hr>
    <div class="text">
      <div class="txt"><strong>Recipe Details</strong> </div>
    </div>
    <hr>
    
{% if error_message %}
<div class="alert alert-danger "><strong>Sorry !</strong> {{error_message}}</div>
{% endif %}

    {% if vegData %}
    <div class="category">Menu Items <strong>Veg</strong></div>
    <table class="table table-hover table-dark table-striped">
        <thead>
          <tr>
            <th scope="col"><div class="head">S.N</div></th>
            <th scope="col"><div class="head">Recipe Name</div></th>
            <th scope="col"><div class="head">Recipe Price</div></th>
            <th scope="col"><div class="head">Recipe Description</div></th>
            <th scope="col"><div class="head">Recipe Image</div></th>
            <th scope="col"><div class="head">Actions</div></th>
      
          </tr>
        </thead>
        <tbody>
          {% for datas in vegData %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><b>{{datas.recipe_name}}</b></td>
            <td>{{datas.recipe_price}}</td>
            <td>{{datas.recipe_description}}</td>
            <td> <img src="/media/{{datas.recipe_image}}" style="height: 130 px; width: 120px;"></td>
            {% if not verification_error %}
            <td><a href="/order/{{id}}/{{datas.id}}/" class="btn btn-outline-primary" style="margin-left: 3px;">Order</a></td>
          {% endif %}

          {% if verification_error %}
          <td><button type="submit" class="btn btn-outline-primary" onclick="showAlert()" style="margin-left: 3px;">Order</button></td>
          {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table> 
    {% endif %}
    
    {% if nonVegData %}
      <div class="category">Menu Items <strong>Non Veg</strong> </div>
      <table class="table table-hover table-dark table-striped">
        <thead>
          <tr>
            <th scope="col"><div class="head">S.N</div></th>
            <th scope="col"><div class="head">Recipe Name</div></th>
            <th scope="col"><div class="head">Recipe Price</div></th>
            <th scope="col"><div class="head">Recipe Description</div></th>
            <th scope="col"><div class="head">Recipe Image</div></th>
            <th scope="col"><div class="head">Actions</div></th>
      
          </tr>
        </thead>
        <tbody>
          {% for datas in nonVegData %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><b>{{datas.recipe_name}}</b></td>
            <td>{{datas.recipe_price}}</td>
            <td>{{datas.recipe_description}}</td>
            <td> <img src="/media/{{datas.recipe_image}}" style="height: 130 px; width: 120px;"></td>
              {% if not verification_error %}
            <td><a href="/order/{{id}}/{{datas.id}}/" class="btn btn-outline-primary" style="margin-left: 3px;">Order</a></td>
            {% endif %}

            {% if verification_error %}
            <td><button type="submit" class="btn btn-outline-primary" onclick="showAlert()" style="margin-left: 3px;">Order</button></td>
            {% endif %}
        </tr>
          {% endfor %}
        </tbody>
      </table> 
    {% endif %}
    
    {% if beverageData %}
      <div class="category">Menu Items <strong>Beverage</strong> </div>
      <table class="table table-hover table-dark table-striped">
        <thead>
          <tr>
            <th scope="col"><div class="head">S.N</div></th>
            <th scope="col"><div class="head">Recipe Name</div></th>
            <th scope="col"><div class="head">Recipe Price</div></th>
            <th scope="col"><div class="head">Recipe Description</div></th>
            <th scope="col"><div class="head">Recipe Image</div></th>
            <th scope="col"><div class="head">Actions</div></th>
      
      
          </tr>
        </thead>
        <tbody>
          {% for datas in beverageData %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><b>{{datas.recipe_name}}</b></td>
            <td>{{datas.recipe_price}}</td>
            <td>{{datas.recipe_description}}</td>
            <td> <img src="/media/{{datas.recipe_image}}" style="height: 130 px; width: 120px;"></td>
            
              {% if not verification_error %}
            <td><a href="/order/{{id}}/{{datas.id}}/" class="btn btn-outline-primary" style="margin-left: 3px;">Order</a></td>
          {% endif %}
          {% if verification_error %}
          <td><button type="submit" class="btn btn-outline-primary" onclick="showAlert()" style="margin-left: 3px;">Order</button></td>
          {% endif %}
        </tr>
          {% endfor %}
        </tbody>
      </table> 
    {% endif %}
   </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
  <footer>
    &copy;2023 Designed and Built By Roman Humagain
  </footer>
</html>