
.txt {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(234, 18, 18);
  font-size: 28px;
}
.category{
  text-align: center;
  color: rgb(14, 170, 197);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;

}
.navbar {
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
}

.navbar .navbar-expand-lg .navbar-nav .nav-link {
  color: #fff; /* Text color for links */
}
footer{
  font-size: 18px;
  font-style: italic;
  color: #666;
  text-align: center;
  padding-bottom: 30px;
}
td{
  font-size: 18px;
  font-family:sans-serif;
}
th .head {
  color:#000000 ;
}
.custom-btn {
  background-color: #0EF6CC;
  color: #ffffff;
  margin-left: 3px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}
