{% extends 'base.html' %}

{% block title %} Login Page{% endblock %}
{% block css %}
<style>   
    .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* height: 100vh; */
    }
  </style>
    {% endblock %}

    {% block body %}
    {% if messages %}
    {% for message in messages %}
     {% if message.tags == 'error' %}
 <div class="alert alert-danger alert-dismissible fade show " role="alert">
 <strong>ERROR !</strong> {{message}}
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
     {% endif %}

    {% endfor %}
    {% endif %}
    <div class="form">
  <form class="col-4 p-4 mx-auto shadow-lg" method="post">
    {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" style="width:350px; font-family: 'Times New Roman', Times, serif;">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" style="width:350px; font-family: 'Times New Roman', Times, serif;">
      </div>
      <button type="submit" class="btn btn-primary">Login</button> <br>
      Don't have account ? <a href="/register">register</a>
    
    </form>
  </div>
    {% endblock %}