{% extends 'base.html' %} {% block title %} Register Page {% endblock %} 
{% block css %}
<style>
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }
  footer{
  font-size: 18px;
  font-style: italic;
  color: #666;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 20px;
}
</style>
{% endblock %}
{% block body %} 

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>ERROR !!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if message.tags == 'success' %}
<div class="alert alert-success alert-dismissible fade show" role="success">
  <strong>Contratulation !!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
{% endfor %}
{% endif %}

<div class="form">
  <form class="col-4 mx-auto p-4 shadow-lg" method="post" style="background-color: hsl(0, 0%, 0%); margin-top: 20px;">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label" style="color: #0EF6CC;">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        style="width: 350px; font-family: 'Times New Roman', Times, serif"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label" style="color: #0EF6CC;">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        aria-describedby="emailHelp"
        style="width: 350px; font-family: 'Times New Roman', Times, serif"
      />
      <div id="emailHelp" class="form-text" style="color: #0EF6CC;">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label" style="color: #0EF6CC;">Password</label>
      <input
        type="password" class="form-control" name="password" id="password"
        style="width: 350px; font-family: 'Times New Roman', Times, serif"
      />
    </div>
    <div class="mb-3">
      <label for="copassword" class="form-label" style="color: #0EF6CC;">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        name="copassword"
        id="copassword"
        style="width: 350px; font-family: 'Times New Roman', Times, serif"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> 
    <br/> <div class="textt" style="color: #0EF6CC;"> ALready have account ? <a href="/login/">login</a></div>
  </form>
</div>
{% endblock %}
