<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/recipe/">Menu Items</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/recipe/table/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="d-flex" role="search" method="get">
        <input class="form-control me-2" name = 'search' type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="success">{{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>
      {% endif %}
    {% endfor %}
  {% endif %}
<div class="container">
<table class="table table-hover table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">S.N</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for data in querySet%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{data.username}}</td>
      <td>{{data.email}}</td>
      <td>
        <!-- <a href="/recipe/mailmodal/{{data.id}}/"  class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#mailModal">Send Email</a> -->
        <a href=""  class="btn btn-outline-primary send-email-btn"  data-bs-toggle="modal" data-bs-target="#mailModal" data-email="{{ data.email }}">Send Email</a>
        
        <a href="" class="btn btn-outline-primary">View Order Details</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<!-- Mail Modal -->
<div class="modal fade" id="mailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="mailModal">Compose Email</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          
          <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group m-2">
              <label for="to">To:</label>
              <input type="email" class="form-control" id="to" name="to" required>
            </div>
            <div class="form-group m-2">
              <label for="inputSubject">Subject:</label>
              <input type="text" class="form-control" id="inputSubject" name="subject" required>
            </div>
            <div class="form-group m-2">
              <label for="inputMessage">Message:</label>
              <textarea class="form-control" id="inputMessage" name="message" rows="10" style="height: 100px;" required></textarea>
            </div>
            <div class="form-group">
              <label for="inputAttachments">Attachments:</label>
              <input type="file" class="form-control-file" id="inputAttachments" name="attachment" multiple>
            </div>
            <hr>
            <div class="form-group">
              <button type="submit" name="action" value="send"  class="btn btn-primary">Send</button>
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Discard</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    
    document.addEventListener("DOMContentLoaded", function() {
      const sendEmailButtons = document.querySelectorAll(".send-email-btn");
      const emailInput = document.querySelector("#to");
  
      sendEmailButtons.forEach(function(button) {
        button.addEventListener("click", function(event) {
          const to = event.target.dataset.email;
          emailInput.value = to;
        });
      });
    });
  </script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>